@import url('http://fonts.googleleapis.com/css2?family-Nunito&display-swap');


*{
    margin: 0%;
    padding: 0;
}
 html{
    font-family: 'Nunito' ,sans-serif;
 }
 .container{
    height: 100vh;
    background-color: blue ;
 }
 h1{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 70px;
 }
 form{
    text-align: center;

 }
 input{
    border: none;
    border-bottom: 1xp solid white;
    color: white;
    outline: none;
 }