@import url('http://fonts.googleleapis.com/css2?family-Nunito&display-swap');


*{
    margin: 0%;
    padding: 0;
}
 html{
    font-family: 'Nunito' ,sans-serif;
 }
 .container{
    height: 100vh;
    background-color: blue ;
 }
 h1{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 70px;
 }
 form{
    text-align: center;

 }
 input{
    border: none;
    border-bottom: 1xp solid white;
    color: white;
    outline: none;
    padding: 7px;
    font-size: 20px;
    background-color: transparent;
    width: 350px;
    margin-right: 10px;
 }
 input::placeholder{
        color: white;
 }
 button{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 7px;
    font-size: 20px;
    border: none;
 }
 .showweather{
    background-color: white;
    width: 150px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
 }